<form method="post" action="{{ path('app_panier_delete', {'id': best_one.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir détruire ce panier?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
