<form method="post" action="{{ path('app_fruit_delete', {'id': fruit.id}) }}" onsubmit="return confirm('Voulez vous vraiment jeter ce fruit ? ;(');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fruit.id) }}">
    <button class="btn btn-danger">Jeter</button>
</form>
